In [15]:
import pandas as pd
iris_filename = '../files/datasets-uci-iris.csv'
iris = pd.read_csv(iris_filename, sep=',', decimal='.', header=None,
names= ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'target'])

In [16]:
mask_feature = iris['sepal_length'] > 6.0

In [17]:
mask_feature

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
120     True
121    False
122     True
123     True
124     True
125     True
126     True
127     True
128     True
129     True
130     True
131     True
132     True
133     True
134     True
135     True
136     True
137     True
138    False
139     True
140     True
141     True
142    False
143     True
144     True
145     True
146     True
147     True
148     True
149    False
Name: sepal_length, dtype: bool

In [18]:
mask_target = iris['target'] == 'Iris-virginica'

In [19]:
iris.loc[mask_target, 'target'] = 'New label'

In [20]:
iris['target'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'New label'], dtype=object)

In [21]:
grouped_targets_mean = iris.groupby(['target']).mean()
grouped_targets_mean

                 sepal_length  sepal_width  petal_length  petal_width
target
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
New label               6.588        2.974         5.552        2.026

In [22]:
grouped_targets_var = iris.groupby(['target']).var()
grouped_targets_var

                 sepal_length  sepal_width  petal_length  petal_width
target
Iris-setosa          0.124249     0.145180      0.030106     0.011494
Iris-versicolor      0.266433     0.098469      0.220816     0.039106
New label            0.404343     0.104004      0.304588     0.075433

In [23]:
#iris.sort_index(by='sepal_length').head()
# FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
iris.sort_values(by='sepal_length').head()

    sepal_length  sepal_width  petal_length  petal_width       target
13           4.3          3.0           1.1          0.1  Iris-setosa
42           4.4          3.2           1.3          0.2  Iris-setosa
38           4.4          3.0           1.3          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
41           4.5          2.3           1.3          0.3  Iris-setosa

In [24]:
# if your dataset contains a time series (for example, in the case of a numerical
# target) and you need to apply a rolling operation to it (in the case of noisy data
# points), you can simply do the following:

In [25]:
#smooth_time_series = pd.rolling_mean(time_series, 5)

In [26]:
#median_time_series = pd.rolling_median(time_series, 5)